/* Write your CSS here */
.match-card {
  width: 40%;
  background-color: #1e293b;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.image-match-card {
  width: 160px;
}

.match-status-match-card {
  color: #e31a1a;
}
